html,
body {
    height: 100dvh;
}
div.container {
    display: flex;
    flex: 1;
    height: 100dvh;
    justify-content: center;
    align-items: center;
    position: relative;
}

h1 {
    color: olivedrab;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: clamp(2rem, 5vw, 8rem);
}

.lang {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: inline-flex;
    border-radius: 10px;
    overflow: hidden;
}
.lang button {
    border: 0;
    margin: 0;
    padding: 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
}
.lang button:hover {
    background-color: rgba(0, 0, 0, 0.4);
}
.lang button.active {
    background-color: olivedrab;
    color: white;
}
